*{
    padding: 0px;
    margin: 0px;
}
.menu{

}
.menu a{
    background: #3f3e40;
    color: #5bdc72;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.menu li{
    display: inline-block;
    list-style-type: none;
    min-width: 100px;
    text-align: center;
}