@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*{
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
}
#react{
    max-width: 600px;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.menu a{
    display: block;
    padding: 10px 0px;
    text-transform: uppercase;
    color: #1e80e9;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight:500;
}
.menu a:hover{
    color: #777;
}
.menu li{
    display: inline-block;
    margin-bottom: 20px;
}

.wishlistLink{
    display: inline-block;
    margin: 5px 0px;
    color: #444;
}
.headerIcon{
    position: relative;
    bottom: 10px;
    margin: 0px 10px;
}
.headerTop{
    background: #3181d4;
    padding: 15px 0px;
    text-align: center;
}
.appName{
    font-weight: 700;
    font-size: 36px;
    color: white;
    position: relative;
    top: 2px;
}
.socialIcons{
    font-size: 13px;
    color: #777;
    padding: 20px 0px;
    padding-top: 0px;
    font-weight:500;
    margin-top: 20px;
}
.wishlistItem{
    max-width: 250px;
    margin: 0px 20px;
    margin-bottom: 15px;
    display: inline-grid;
}
.wishlistItemName{
    color: #4c4b49!important;
    font-weight: 500;
    font-size: 14px;
}
.wishlistItemPrice{
    font-size: 14px;
    color: #4c4b49;
}
.wishlistItemNote{
    text-align: justify!important;
    color: #4c4b49;
    font-size: 14px;
}
.wishlistItemPhoto img{
    max-width: 100%;
    width: 100%;
}
.wishlistItemSmallRow{
    color: #b7b2b2;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0px;
}
.button{
    padding: 5px;
    margin-right: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.redButton{
    background: #ca3737;
}
.blueButton{
    background: #1ea2f2;
}
.greenButton{
    background-color: #54b757;
}
.modalButton{
    margin: 0px;
    margin-bottom: 5px;
    color: #54b757;
    text-transform: uppercase;
    padding: 10px 0px;
    background: none;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.modalButton:hover{
    color: #777;
}
.icon:first-child{
    margin-left: 10px;
}
.icon{
    margin-right: 10px;
}
/*Classes for creating dialogs*/
#createDialog{
    display: block;
    margin-bottom: 10px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog form input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: 1px solid #DDD;
    color: #777;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 10px 30px 10px 20px;;
    background: white;
    border-radius: 5px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -moz-border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #333333; }

.dialogTitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    color: #54b757;
    font-weight: 500;
}

.menu {
    clear: both;
}
.logoutBox {
    display: inline-block;
    float: right;
}
.green{
    color: #54b757;
}
.middleHeightLink{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    top: 2px;
}
.createDialogLink{
    display: block;
    margin-bottom: 20px;
}