@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*{
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    font-family: helvetica;
}
#react{
    max-width: 1200px;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
nav.menu ul li a{
    background: none;
    padding: 30px 15px;
    display: block;
    color: #777777;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
.activeLink{
    color: #5bb5d3!important;
}
.headerIcon{
    position: relative;
    bottom: 10px;
    margin: 0px 10px;
}
.wishlistItem{
    max-width: 250px;
    margin: 0px 20px;
    margin-bottom: 15px;
    display: inline-grid;
}
.wishlistItemName{
    color: #777777!important;
    font-weight: 500;
    font-size: 14px;
}
.wishlistItemPrice{
    font-size: 14px;
    color: #777777;
}
.wishlistItemNote{
    text-align: justify!important;
    color: #777777;
    font-size: 14px;
}
.wishlistItemLink{
    text-align: justify!important;
    color: #777777;
    font-size: 14px;
}
.wishlistItemLink a{
    color: #5bb5d3;
}
.wishlistItemPhoto{
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.wishlistItemSmallRow{
    color: #b7b2b2;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0px;
}
.button{
    padding: 5px;
    margin-right: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.redButton{
    background: #ca3737;
}
.greenButton{
    background-color: #54b757;
}
.blueButton{
    background-color: #5bb5d3;
}
.blue{
    color: #5bb5d3;
}
.gray{
    color: #877575;
}
.modalButton, .noBackgroundBtn{
    margin: 20px 10px!important;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.modalButton:hover, .noBackgroundBtn:hover{
    color: #808082!important;
}
.noBackgroundBtn{
    margin-left: 0px!important;
}
/*Classes for creating dialogs*/
#createDialog{
    display: block;
}
.modalContainer{
    max-width: 300px;
    width: 60%;
    margin: 10% auto;

}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog form input{
    max-width: 94%;
    margin-left: 10px;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    position: relative;
    margin: 5% auto;
    background: white;
    max-width: 400px;
    width: 100%;
}

.close {
    color: #777777;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 6px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: 0.5s all;
}

.close:hover {
    color: #333333;
}

.dialogTitle{
    display: block;
    padding: 10px 0px 20px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #777777;
}

.menu {
    clear: both;
}
.logoutBox {
    display: inline-block;
    float: right;
}
.green{
    color: #54b757;
}

/*HEADER*/
header{
    display: block;
    margin-bottom: 20px;
}
.clear{
    clear: both;
}
.headerLeft{
    display: inline-block;
    float: left;
}
.headerRight{
    display: inline-block;
    float: right;
}
.logo a{
    display: block;
    color: #777;
    font-weight: bold;
    font-size: 30px;
    padding: 24px 20px;
}
/**CSS FLEX**/

.auto-flex-holder{
    align-self:auto;
}
.flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-item{
    margin: 50px 20px 25px 25px;
    list-style: none;
    min-width:29%;
}
.center{
    text-align: center!important;
}
.caps{
    text-transform: uppercase;
}
.item-about{
    color: #47494a;
}
.main-title{
    font-size: 30px;
    font-weight: normal;
    color:#47494a;
}
/**Footer*/

footer{
    background: #DDD;
}
footer img, #social img{
    padding: 10px;
    transition: all 0.5s ease;
    outline:none;
}
footer img:hover, #social img:hover {
    background: #47494a;
}
footer p{
    margin:10px 0px;
    text-align: center;
}
.footerBottom{
    position: absolute;
    left: 0;
    width: 100%;
}


.content{
    min-height: 90vh;
    display: flex;
}
.btnAsMenuLink{
    background: none;
    padding: 30px 15px;
    display: block;
    color: #777777;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s all;
    cursor: pointer;
}
.btnAsMenuLink:hover{
    color:#241b24;
}
.verticalyCentered{
    align-self: center;
}
.horizontalyCentered{
    justify-content: center;
}
.movedUp{
    position: relative;
    bottom: 50px;
}
.background{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: center;
}
.black-bg {
    background: rgba(23,23,32,.93);
    width: 100%;
    height: 100vh;
    z-index: 0;
}
.bg-login {
    background-image: url(../img/login.jpg);
}
#preview{
    max-width: 400px;
}
.previewTop{
    text-align: center;
}
.previewTop img{
    max-width: 45%;
    max-height: 250px;
}
.previewBottom{
    float: left;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 10px 0px;
}
.previewBottom p{
    margin: 10px 0px;
}

/*FORM LOGIN*/

.formWrapper{
    background: white;
}

.smallForm{
    max-width: 350px;
    width: 100%;
}
.form{
    max-width: 600px;
    margin: 0 auto;
}
.darkFormCaption{
    background: #241b24;
    color: white;
    font-weight: bold;
    padding: 30px 20px;
    font-size: 30px;
}
.darkFormInput{
    display: block;
    margin: 30px 20px;
    padding: 20px 15px;
    max-width: 80%;
    width: 100%;
    background: #e4dfdf;
    outline: none;
    border: none;
    color: #241b24;
    border-radius: 2px;
    font-weight: bold;
}


.submitButton{
    border: none;
    width: 100px;
    color: white;
    padding: 10px;
    background-color: #241b24!important;
    margin: 20px;
    display: inline-block;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: bold;
    cursor:pointer;
}
.formSpan a{
    font-weight: bold;
    color: #877575;
    font-size: 13px;
    transition: 0.5s all;
}
.formSpan a:hover{
    color: #241b24;
}

/*HOME*/

.container{
    max-width:1200px;
    width:100%;
    margin:0px auto;
    padding:10px;
    display:flex;
}
.sidebar{
    float:left;
    margin: 0px 10px;
}
.sidebar, .scrollable{
    max-width:250px;
    width:100%;
    display:inline-block;
}
.scrollable{
    max-height: 300px;
    position:absolute;
    overflow-y:scroll;
    position:relative;
}
.mainContent{
    max-width:80%;
    width:100%;
    float:left;
    margin: 0px 10px;
}

/*to hide scrollbar on scrollable div*/

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}


.sidebarTitle{
    font-size: 16px;
    color: #777777;
    cursor: default;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}
.sidebarLink{

}
.sidebarLink a{
    width: 100%;
    transition: 0.5s all;
    display: block;
    font-weight: normal;
    padding: 15px 0px;
    word-wrap: break-word;
    color:#877575;
}
.sidebarLink a:hover{
    background: #efefef;
}
.activeSidebarLink{
    background: #efefef!important;
}

.pageTitle{
    color: #5bb5d3;
    font-size: 36px;
    text-transform: uppercase;
}
.btnActionLink{
    background: none;
    cursor: pointer;
    transition: 0.5s all;
}
.actionLink:hover, .btnActionLink:hover{
    color: #777777;
}
.noItems{
    background-image: url(../img/noItemsHeart.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: top;
}
.noItemsParagraph{
    text-align: center;
    color: grey;
    text-transform: uppercase;
    font-size: 20px;
}
.materialInput{
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    padding: 15px 0px;
    color: #b7b3b3;
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 14px;
    transition: 0.5s all;
}
input.materialInput::placeholder, input.field::placeholder {
    color: #b7b3b3;
    font-size: 14px;
}
input.materialInput:focus {
    border-bottom: 1px solid #b5b5b5;
    color: gray;
}
.noResults{
    color: #777;
    margin-top: 20px;
    margin-bottom: 10px;
}
.icon{
    position:relative;
    bottom: 2px;
}
.linkWithIcon{
    display: inline-block;
    margin: 20px 0px;
    margin-right: 50px;
    color: #b3afaf;
    font-weight: bold;
    transition: 0.5s all;
    font-size: 14px;
}
a.linkWithIcon:hover {
    color: #808082!important;
}